*{padding: 0;margin: 0; }
.paddingTB{padding-top: 50px;padding-bottom: 50px;}
.footerBg{background-color: rgb(250, 208, 71);
 ;
  }
  .footerBg:hover{

    background-color: rgba(247, 216, 115);

}
.footerBg h3 {color: yellow; text-align: center;}
.col-lg-12,.col-lg-6{padding-right: 0;padding-left: 0;}
.paddingT{padding-top: 50px;background-color: rgba(247, 216, 115);}
.centrar{text-align: center;background-color: rgba(247, 216, 115);}
.paddingLR{padding-left: 10px; padding-right: 10px;}
.ico_foo{transition:1s;}
.ico_foo:hover{transform: translateY(-10px);cursor: pointer;}
.redesSociales{transition: 1s;}
.redesSociales:hover{color: rgba(247, 216, 115); cursor: pointer;}

.container-fluid {
    background-color:rgba(247, 216, 115);
}


.navbar-brand img{
    width: 150px;

}

.btn btn-primary{
   color: rgba(248, 196, 129);
}

.wapp2 {

    background-color:rgba(255, 229, 145, 0.884);
    display: inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 150px;
    right: 150px;
    font-size: 28px;



}

.wapp2:hover{

    filter: brightness(0.5);
   }

   input{
    /*
        padding: 20px;
        margin: 10px; */
        background-color: #fee140;
        transition: .3s;
        border: none;
    }

.section2 {

    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    justify-content: center
}
.carousel-padre{

     margin-top: 10px;
     background-position: center;

}

.carousel-padre img{

    height: 60vh;

}




.imagen {
    filter: grayscale(1);
    transition: .3;
    border-radius: 10px;
}

.imagen:hover{
    /* filter: blur(1px); */
    /* filter: opacity(0.3); */
    filter: brightness(1);
    /* filter: grayscale(0); */

}


.titulos {

    border-bottom: black 3px solid;
    margin: 29px;
    padding: 5px;
    text-align: center;
    top: 0;
    background-color: rgba(247, 216, 115);

}



.overFlow {

    background-color: rgba(255, 229, 145, 0.884);
    border: 2px black solid;
    overflow: auto;
    margin: 50px 25px;
    padding: 12px 30px 50px 23px;


}

.enLinea {
     background-position: center;
    padding: 20px;
    height: 100px;
    width: 100px;
    margin: 29px;
    background-color: rgba(247, 216, 115);

}


p {
    margin: 29px;
}

.titulos2 {

    text-align: center;
    top: 0;


}

span{
    border-bottom: rgb(248, 190, 65) 3px solid;
    margin: o;
    padding: 5px;
    text-align: center;
    top: 0;

}

.wapp {


        background-color: rgba(255, 229, 145, 0.882);
        color: white;
        display: inline-block;
        height: 180px;
        width: 180px;
        text-align: center;
        position: fixed;
        bottom: 100px;
        right: 150px;
        font-size: 28px;
        border-radius: 50%;
    }


    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
      }

      .float .my-float {
        margin-top: 16px;
      }

      .float:hover {
        text-decoration: none;
        color: #25d366;
        background-color: #fff;
      }



   #seccion {
    background-color: rgba(247, 216, 115);
    /* Espacio interior */
    padding: 70px;
    /* Espacio exterior */
    margin: 80px;
    background-image: url('../img/logo\ AJNA\ FINAL_NOV.jpg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;

}

.animacion-giro {
    background-color: rgb(6, 6, 167);
    display: inline-block;
    width: 300px;
    height: 300px;
    color: white;
    animation-name: girando;
    animation-iteration-count: infinite;
    animation-duration: 10s;

}



.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }

  .float .my-float {
    margin-top: 16px;
  }

  .float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
  }


  .banner {
    padding-top: 40px;
    padding-bottom: 45px;
    text-align: center;
    display: hidden;
  }
  
  .banner img {
    width: 40%;
    animation-name: zoom;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }
  
  .banner .off {
    margin-top: 37px;
    margin-bottom: 37px;
  }
  .events_area {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 80%;

  }
  

  
  .events_area .single_event .event_details {

    width: 315px;
    padding: 20px;
    color: black;
    background-position: center;
    
  }
  
  .events_area .single_event .event_details .date {
    color: #fdc632;
    padding-right: 15px;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
  }
  
  .events_area .single_event .event_details .date span {
    display: block;
    color: #fdc632;
    font-size: 28px;
    font-weight: 500;
  }
  
  .events_area .single_event .event_details p {
    text-align: center;
  }
  
  .events_area .single_event .event_details a {
    font-size: 1.3rem;
    font-weight: 10rem;
    color: black;
  }
  
  .events_area .single_event .event_details .time-location {
    padding: 15px 5px 15px 5px;
    font-size: 15px;
    text-align: center;
  }
  
  .events_area .single_event .event_details .time-location p span {
    color: #998f8f;
    font-size: 13px;
    font-weight: 500;
  }
  .events_area {
    width: 80%;
    padding: 30px 30px 70px 30px;
  }


  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }

  #show-modal {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #bc651a;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    transition: all 0.15s linear;
  }
  
  #show-modal:hover {
    cursor: pointer;
    background-color: #523216;
  }
  
  .modal {
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    background: #bc651a;
    width: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
  }
  
  .modal .content-modal {
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background: white;
    box-shadow: 0 1px 2px #bc651a;
    border-radius: 2px;
    z-index: 99999999;
  }
  
  .modal h2 {
    padding: 0.5em;
    text-align: center;
    color: #bc651a;
    margin: 0;
  }
  
  .modal article {
    height: 100px;
    background: #bc651a;
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
  }
  
  .modal a:hover {
    color: rgb(241, 177, 38);
  }
  
  .modal:target {
    opacity: 1;
    top: 0;
  }
  
  .modal:target .content-modal {
    top: 50px;
    transition: top 0.35 ease;
  }
  
  .modal .btn-close-modal {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999991;
  }
  
  .close-modal {
    color: #e74c3c;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
  }
/* vista desktop */
@media only screen and (min-width: 1024px){
.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
.footerFlex{display: flex;justify-content: space-around;}
}

/* vista mobile */
@media only screen and (max-width: 767px){
	.footerFlex{display: flex;flex-direction: column;}
}

